{
    attributes = (
        {
            columnName = "CPAI_KEY"; 
            externalType = NUMBER; 
            name = cpaiKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "CPA_KEY"; 
            externalType = NUMBER; 
            name = cpaKey; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "NO_INDIVIDU"; 
            externalType = NUMBER; 
            name = noIndividu; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (cpaiKey, cpaKey, noIndividu); 
    className = "org.cocktail.groupescol.serveur.eof.CtrlParamApIndividu"; 
    externalName = "EDTSCOL.CTRL_PARAM_AP_INDIVIDU"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_javaClientClassName" = "org.cocktail.groupescol.client.eof.CtrlParamApIndividu"; 
    }; 
    name = CtrlParamApIndividu; 
    primaryKeyAttributes = (cpaiKey); 
}
