# L'identifiant de l'application. Il peut être utilisé par différents services :
# authentification (SAUT), sauvegarde des documents (GEDFS),...
# Le ID ne doit pas dépassé 10 symboles et il doit être enregistré auprès de serveur concerné.
# Il n'est pas conseille de modifier cette valeur.
APP_ID=LMD

#* Description courte de l'application. Le même ID pouvant être partagé entre plusieurs 
#* versions de l'application, cette valeur permet de fournir les informations complémentaires
APP_ALIAS=GroupeScol

#* Le URL de service d'authentification. Il permet de récupérer le dictionnaire de connexion a
#* la base de données. Si le service SAUT/ServAut n'est pas disponible dans votre système,
#* mettez ce paramètre en commentaire et renseigner le dictionnaire de connexion
#* directement dans le fichier GroupeScol.eomodeld/index.eomodeld
SAUT_URL=http://apps.univ-lr.fr/cgi-bin/WebObjects/ServAut.woa/wa/

#* Le dictionnaire de translation des identifiants des dictionnaires de connexion à la base de 
#* données. Voir la configuration de serveur SAUT/ServAut, s'il est disponible.
#* Si SAUT_URL n'est pas renseigne, alors cette valeur est ignorée.
SAUT_ID_TRANSLATION=LMD:LMDT,ULOGIN:GRHUMT

SAUT_USER=YES

NO_PROXY_HOSTS=*.univ-lr.fr
TIME_ZONE=Europe/Paris
APP_ADMIN_PASSWORD=vQNSjay9O.rZM
MAQUETTE_ID=SCOL_TROMBINO
URL_VIEWLET=http://www.univ-lr.fr/actes/ged/courrier/commun/0410281702.0/GroupeScol_viewlet_swf.html
DIRECT_ACTION_PHOTO=http://kava.univ-lr.fr:1381/cgi-bin/WebObjects/GroupeScol.woa/wa/afficherPhoto?id=
LOG_SQL_GENERATION=NO
